//- 每個專案都要有的 guide html
- var title = "MX Style guide";
- var description = "MX Style guide"
- var image = "${require(`img/fb.jpg`)}"

include ./components/_mixin

doctype html
html(class="🤘🏻rockroll", class=DEV_MODE ? 'development': '')
  head
    title=title
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover")
    meta(name="description" content=description)
    meta(property="og:locale" content="zh_TW")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:image" content=image)
    meta(property="og:type" content="article")
    //- meta(property="og:url" content="http://beaute.chanel.tw/lerouge")
    link(rel="image_src" type="image/jpeg" href=image)
    link(rel="shortcut icon" type="image/ico" href="favicon.ico")
    if https && !DEV_MODE
      script.
        if (location.protocol !== 'https:') location.href = 'https:' + window.location.href.substring(window.location.protocol.length);
    if weinreScript
      script(src=weinreScript)
    include ga.html
  body.page-guide
    #app.app
      .container
        section.section
          .clearfix
            .text-muted.float-right version 1.0.2
          include components/guide/colors
        section.section
          include components/guide/typography
        section.section
          include components/guide/typography_texts_links.pug
        section.section
          include components/guide/typography_list
        section.section
          include components/guide/button
        section.section
          include components/guide/form
        section.section
          include components/guide/news
        section.section
          include components/guide/spacing
      // .container end
    // .app end
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js")